 <!DOCTYPE html>
 <html lang="en">
  <head>
    <link rel="stylesheet" href="/stylesheets/details.css">
    <link rel="shortcut icon" href="/images/home/logo-D.ico" type="x-icon">
    <title><% - { title: produto.nome } %></title>
</head>
 <body>
  <header>
    <%- include('./partials/header') %>
</header>
<


  <footer>
    <%- include('./partials/footer') %>
</footer>
 </body>
 </html>