<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Desapegados</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="shortcut icon" href="/images/home/logo-D.ico" type="x-icon">

</head>

<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <div class="conteudo">
        <div class="card">
            <form class="form">
                <div class="card-grup">
                    <p>Digite seus dados para entrar</p>
                    <input class="input-login" type="text" name="Email" placeholder="Email">
                    <input class="input-login" type="password" name="Senha" placeholder="Senha">
                    <button class="botao-login" type="submit"><a href="">Acessar</a></button>
                    <p class="sem-cadastro">Não possui um cadastro?</p>
                </div>
            </form>
            <button class="botao-cadastro" type="submit"><a href="/login/cadastro">Cadastre-se</a></button>
        </div>
    </div>
</body>
<footer>
    <%- include('./partials/footer') %>
</footer>

</html>