<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/login.css">

</head>
<body>
    <div class ="container">
    <div class = "content first-content">
        
    
    <form class="form">
        
        <!-- inicio do primeiro quadro -->
        <div class="card">

            

            <img src="/images/login/facebook.svg" width="30" alt="">
            <img src="/images/login/logo-google.svg" width="30" alt="">

           <p>Login com sua conta</p>
           <br>
           <div class="card- grup">
               <label>Email</label>
               <input type="text" name="Email" placeholder="Digite seu Email"></div>

                <div class="card- grup">
            <label>Senha</label>
            <input type="password" name="Senha" placeholder="Digite seu Senha"></div>

            <div class="card- grup">
                <label>Acessar</label>
                <button type="submit">Acessar</button>
                <br><br>
                <button type="submit">Cadastre-se</button>
            </div>
        </div><!--fim do primerio quadro-->
        </div> <div class = "content second-content"><!--inicio do segundo quadro-->
        
    
            
                
                <!-- <div class="novo-cadastro"></div> -->
                <div class="novo-cadastro">
        
                    
        
                    <img src="/images/login/facebook.svg" width="30" alt="">
                    <img src="/images/login/logo-google.svg" width="30" alt="">
        
                   <p>Cadastre-se sua conta</p>
                   <br>
                   <div class="card-grupd">
                       <label>Nome completo</label>
                       <input type="text" name="Nome completo" placeholder="Digite seu Nome completo"></div>

                       <div class="card-grupd">
                        <label>Endereço</label>
                        <input type="text" name="Endereço" placeholder="Digite seu Endereço"></div>

                        <div class="card-grupd">
                            <label>Email</label>
                            <input type="text" name="Email" placeholder="Digite seu Email"></div>
        
                        <div class="card-grupd">
                    <label>Senha</label>
                    <input type="password" name="Senha" placeholder="Digite seu Senha"></div>
        
                    <div class="card-grupd">
                        
                        <br>
                        <button type="submit">Cadastre-se</button>
                    </div>
                </div><!--fim do segundo quadro-->
                </div>
    </div>
       

  </form>
</body>
</html>