<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Login Cadastro | Desapegados</title>
    <link rel="stylesheet" href="/stylesheets/loginCadastro.css">
    <link rel="shortcut icon" href="/images/home/logo-D.ico" type="x-icon">

</head>

<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <div class="container">
        <div class="card">
            <form class="form">
                <div class="card-grup">
                    <p>Digite seus dados para criar uma conta</p>
                    <input class="input-login" type="text" name="Email" placeholder="Digite seu E-mail">
                    <input class="input-login" type="text" name="Email" placeholder="Repita o E-mail">
                    <input class="input-login" type="password" name="Senha" placeholder="Crie uma Senha">
                    <input class="input-login" type="password" name="Senha" placeholder="Repita a Senha">
                    <button type="submit"><a href="">Criar Conta</a></button>
                </div>
            </form>
        </div>
    </div>
</body>
<footer>
    <%- include('./partials/footer') %>
</footer>

</html>