<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Produtos | Desapegados</title>
  <link rel="icon" href="/DH-projeto-integrador/projetoDigitalHouse/public/images/pagProduto/desapegados_logo.png">
  <link rel="stylesheet" href="/stylesheets/pagProduto.css">
  
  <body>
   <div class="header">
        <div class="navigation_header_logo">
            <a href="/DH-projeto-integrador/versao_anterior/home.ejs"><img id="logotipo_header" src="/images/pagProduto/desapegados_logo.png" alt="Imagem ilustrativa de negociações."></a>
        </div>
        <div class="navigation_header_links">
            <a href="/DH-projeto-integrador/versao_anterior/home.html" target="_blank">HOME</a>
            <a href="#title_sobre_nos">A EMPRESA</a>
            <a href="#" class="active">CENTRAL DO VENDEDOR</a>
            <a href="/DH-projeto-integrador/versao_anterior/login.html" target="_blank">CADASTRE-SE</a>
            <a href="#">CONTATO</a>
        </div>
   </div>

   <div class="main">
        <div class="main_one">
            <div class="first_main_apresentation">
                <section>
                    <p id="title_sobre_nos">Sobre A Gente</p>
                    <br>
                    <p id="text_sobre_nos">O papel principal da Desapegados é oferecer ao cliente parceiro todo o suporte que ele precisa para vender ou comprar seus imoveis.
                        Tais como análise de CPF e crédito, oferta de modalidades de garantias, confecção de contratos, assessoria jurídica e contratual, acompanhamento até assinatura do contrato, pagando comissões ao corretor pela intermediação, negócios e a Desapegados segue administrando.
                        O cliente fica livre para fazer novos negócios.</p>
                </section>
            </div>
            <div class="ilustative_negociation_image">
                <img id="background_image_two" src="/images/pagProduto/ilustrativo_negociation_one.jpg" alt="">
            </div>
        </div>
        <div class="spacing"> <!--JUST IGNORE -->
        </div>
        <div class="main_two">
            <div class="navigation_one">
                <div class="input_box">
                    <input type="text" name="search" id="search" class="input_user" required>
                    <label for="search" class="label_input">Buscar produtos, marcas e muito mais...</label>
                </div>
            </div>
            <div class="navigation_two">
                <!--Do the magic!! -->
                categorias e filtros para o os produtos
            </div>
        </div>
    </div>
  </body>