<footer class="footer">
    <div>
        <a href="/"><img class="logo-footer" src="/images/home/logo.png" alt=""></a>
    </div>
    <div class="opcoes-footer">
        <p class="opcao-titulo"><strong>Início</strong></p>
        <p class="opcao-footer">Home</p>
        <p class="opcao-footer">Categorias</p>
        <p class="opcao-footer">Cadastro de usuário</p>
    </div>
    <div class="opcoes-footer">
        <p class="opcao-titulo"><strong>Sobre-nós</strong></p>
        <p class="opcao-footer">Missão</p>
        <p class="opcao-footer">Quem somos</p>
        <p class="opcao-footer">Blog</p>
        <p class="opcao-footer">Contato</p>
    </div>
    <div class="opcoes-footer">
        <p class="opcao-titulo"><strong>Suporte</strong></p>
        <p class="opcao-footer">FAQ</p>
        <p class="opcao-footer">Telefones</p>
        <p class="opcao-footer">Chat online</p>
        <p class="opcao-footer">Reclame Aqui</p>
    </div>
    <div class="rede-sociais-footer">
        <span>
            <img src="/images/home/facebook-icon.png" alt="" class="redesocial-icon">
            <img src="/images/home/wpp-icon.png" alt="" class="redesocial-icon">
            <img src="/images/home/insta-icon.png" alt="" class="redesocial-icon">
            <img src="/images/home/twitter-icon.png" alt="" class="redesocial-icon">
        </span>
        <p>
            <button class="butao-contato-footer">Contato</button>
        </p>
    </div>
</footer>
</html>