<!DOCTYPE html>

<head>
    <title>Desapegados Home</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body>
    <header>
        <!-- Barra de logo com menu -->
        <div class="barra-logo-menu">
            <a href="/"><img src="/images/home/logo.png" alt="" class="logo"></a>
            <nav class="menu-navegacao">
                <span>Siga nossas redes:</span>
                <a href="">Facebook</a>
                <a href="">Instagram</a>
                <a href="">Twitter</a>
            </nav>
            <span class="icone-carrinho-usuario">
                <a href="/checkout"><img class="carrinho-icon" src="/images/home/carrinho-icon.png" alt=""></a>
                <a href="/login"><img class="usuario-icon" src="/images/home/usuario-icon.png" alt=""></a>
            </span>
        </div>
        <!-- Barra de pesquisa -->
        <div class="div-barra-pesquisa">
            <span><input class="barra-pesquisa" type="text" placeholder="Pesquise o que deseja comprar." size="60px">
                <img class="lupa-icon" src="/images/home/lupa-icon.png" alt="">
            </span>
        </div>
    </header>